<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendar</title>

  <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <div>
    <button onclick="back();" class="btnMenu">Menú</button>
  </div>
  <br />
  <h1 align="center">Agendar</h1>
  <br />
  <div align="center">
    <form action="agendarC/consult/" method="get">
      <select id="telefonito" type="text" name="Telefono" required>
      <option disabled selected>Seleccione una opción</option>
        <% console.log(JSON.stringify(data)); %>
          <% if (data) { %>
            <% for(var i=0; i < data.length; i++) { %>
              <option value="<%= data[i].Telefono %>">
                <%= data[i].Telefono %>
                <%= data[i].Nombre %>
              </option>
              <% } %>
                <% } %>
            </select>
      <!--input id="telefonito" type="search" name="Telefono" placeholder="Buscar Cliente" required-->
      <button class="buttong" type="submit">Buscar</button>
      <!--a href="agendarC/consult" class="btn buttong">Botoncito</a-->
    </form>
    <br><br>
    <div class="inputs">
      <div>
        <label type="text">ID Cliente: </label>
        <input type="text" name="idCliente" value="<%= data.idCliente %>" readonly>
      </div>
      <br>
      <div>
        <label type="text">Nombre: </label>
        <input type="text" name="Nombre" value="<%= data.Nombre %>" readonly>
      </div>
      <br>
      <div>
        <label type="text">Apellidos: </label>
        <input type="text" name="Apellidos" value="<%= data.Apellidos %>" readonly>
      </div>
      <br>
      <div>
        <label type="text">Teléfono: </label>
        <input type="text" name="Telefono" value="<%= data.Telefono %>" readonly>
      </div>
      <br>
      <div>
        <label type="text">Correo: </label>
        <input type="text" name="Email" value="<%= data.Email %>" readonly>
      </div>
      <br>
      <div style="margin-right: 6vw">
        <label type="text">Cumpleaños: </label>
        <input id="dia" type="text" name="Dia" value="<%= data.Dia %>" readonly>/<input id="mes" type="text" name="Mes"
          value="<%= data.Mes %>" readonly>/<input id="año" type="text" name="Año" value="<%= data.Año %>" readonly>
      </div>
      <br>
      <div>
        <label type="text">Asesor: </label>
        <input type="text" name="Asesor" value="<%= data.Asesor %>" readonly>
      </div>
      <br>
      <div>
        <label type="text">Fecha Registro: </label>
        <input type="text" name="Fecha_registro" value="<%= data.Fecha_registro %>" readonly>
      </div>
      <br>
    </div>
    <br><br>
    <table class="magia inputs">
      <tbody>
        <tr>
          <td id="teodioaquamugre">Agendar</td>
          <td>Folio Membresia</td>
          <td>Fecha Compra</td>
          <td>Tratamiento</td>
          <td>Ticket</td>
          <td>Notas</td>
        </tr>
        <tr>
          <td id="teodioaquamugre"><input name="citas" class="chckbox" type="radio"></td>
          <td> <input type="text" name="Folio_membresia" value="<%= data.Folio_membresia %>" readonly></td>
          <td><input type="text" name="Fecha_compra" value="<%= data.Fecha_compra %>" readonly></td>
          <td>
            <div class="tooltip input_tooltip">Nombre Tratamiento
              <span class="tooltiptext"><b>Detalles</b><br>Nombre: <input type="text" name="Nombre_t"
                  value="<%= data.Nombre_t %>" readonly> <br>
                Categoría: <input type="text" name="Categoria_t" value="<%= data.Categoria_t %>" readonly> <br>Precio:
                <input type="text" name="Precio_T" value="<%= data.Precio_t %>" readonly><br>
                Duración: <input type="text" name="Duracion_t" value="<%= data.Duracion_t %>" readonly> </span>
            </div>
            <br>
          </td>
          <td><input type="text" name="Ticket" value="<%= data.Ticket %>" readonly></td>
          <td>
            <div class="tooltip input_tooltip">Notas de Cita
              <span class="tooltiptext"><b>Detalles de la cita</b><br> <input type="text" name="Notas"
                  value="<%= data.Notas %>" readonly> </span>
            </div>
            <br>
          </td>
        </tr>
        <tr>
          <td id="teodioaquamugre"><input name="citas" class="chckbox" type="radio"></td>
          <td></td>
          <td></td>
          <td>
            <div class="tooltip">Nombre Tratamiento
              <span class="tooltiptext"><b>Detalles</b><br>Tipo: <br>Precio <br>Clase: </span>
            </div>
            <br>
          </td>
          <td></td>
          <td>
            <div class="tooltip">Notas de Cita
              <span class="tooltiptext"><b>Detalles de la cita</b></span>
            </div>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <label><b>Sucursal: </b></label>
    <br />
    <select name="Sucursal" id="Sucursal">
      <option name="Sucursal" value="<%= data.Sucursal %>">RS01</option>
    </select>
    <br><br>
    <label for="fechacita"><b>Fecha: </b></label><br />
    <input type="date" name="Fecha" id="fechacita">
    <br><br>
    <label for="Cabina"><b>Cabina: </b></label><br>
    <select name="Cabina" id="Cabina">
      <option selected="selected" value=""></option>
      <option value="">Cabina: #, Horario: 00:00</option>
      <option value="">Cabina: #, Horario: 00:00</option>
      <option value="">Cabina: #, Horario: 00:00</option>
      <option disabled>Y el siguiente...</option>
    </select>
    <br><br>
    <label for="notas"><b>Notas:</b></label><br>
    <input type="textarea" id="notas" name="notas">
    <br><br>
    <button class="buttong" type="submit" name="agendar">Agendar</button>

    <br>
    <button class="buttonis" id="myBtn">Resumen</button>

    <br><br>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div align="center" class="modal-content inputs">
      <span class="close">&times;</span>
      <h2>RESUMEN</h2>
      <p>Nombre: <input type="text" name="Nombre" value="<%= data.Nombre %>" readonly></p>
      <p>Apellidos: <input type="text" name="Apellidos" value="<%= data.Apellidos %>" readonly></p>
      <p>Tratamiento:<input type="text" name="Nombre_t" value="<%= data.Nombre_t %>" readonly></p>
      <p>Sucursal:______________________________________ </p>
      <p>Fecha:________________________________________</p>
      <p>Cabina:_______________________________________</p>
      <p>Notas:________________________________________</p>
      <button class="buttonis">Guardar</button>
      <button id="cancel" class="buttonis">Cancelar</button>
    </div>

  </div>
  <script src="/js/modal.js"></script>
  <script src="/js/back.js"></script>

</body>

</html>