<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>

  <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <div>
    <button onclick="back();" class="btnMenu">Menú</button>
  </div>
  <br />
  <div class="bckgc">
    <br />
    <table>
      <tbody>
        <tr>
          <td width="950px">
            <h2>Nombre Empleado</h2>
          </td>
          <td>
            <form action="clientescc/consult" method="get"></form>
            <a href="/rCliente">
              <button type="submit" class="buttong">Nuevo Registro</button>
            </a>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <table style="width:100%">
      <thead>
        <tr class="magia">
          <th>Nombre</th>
          <th>Asesor</th>
          <th>Sucursal</th>
          <th>Cumpleaños<br><i>(Día/Mes/Año)</i></th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Fecha&nbsp;Registro</th>
          <th>Notas</th>
        </tr>
      </thead>

      <tbody class="magia inputs">
        <% if (data) { %>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><input readonly name="Nombre" value="<%= data[i].Nombre %>" type="text"><input readonly name="Apellidos"
                  value="<%= data[i].Apellidos %>" type="text"></td>
              <td><input readonly name="Asesor" value="<%= data[i].Asesor %>" type="text"></td>
              <td><input readonly name="Sucursal" value="<%= data[i].Sucursal %>" type="text"></td>
              <td class="input_birth" align="center"><input readonly name="Dia" value="<%= data[i].Dia %>" type="text">/<input readonly name="Mes"
                  value="<%= data[i].Mes %>" type="text">/<input readonly name="Año" value="<%= data[i].Año %>" type="text"></td>
              <td><input readonly name="Telefono" value="<%= data[i].Telefono %>" type="text"></td>
              <td><input readonly name="Email" value="<%= data[i].Email %>" type="text"></td>
              <td><input readonly name="Fecha_registro" value="<%= data[i].Fecha_registro %>" type="text"></td>
              <td><input readonly name="Notas" value="<%= data[i].Notas %>" type="text"></td>
            </tr>
            <% } %>
              <% } %>
      </tbody>
    </table>
  </div>
  <br>

  <script src="/js/back.js"></script>

</body>

</html>