<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>

    <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-4.0.0/dist/css/bootstrap-grid.css">

</head>

<body>
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
            </a>
            <a href="/">
                <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
            </a>
        </nav>
    </div>
    <br>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <a href="/config">
                        <img style="margin-left:0" class="home_logo" src="/img/home.jpg" alt="home">
                    </a>
                </div>
                <div class="col-5">
                    <h2>USUARIOS</h2>
                </div>
                <div class="col-2">
                    <br>
                    <a href="/add_user">
                        <button type="submit" class="buttoncito">Nuevo usuario</button>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="bckgc">
            <br>

            <table style="width:100%">
                <thead>
                    <tr class="magia">
                        <th><b>Nombre</b></th>
                        <th><b>Sucursal</b></th>
                        <th><b>Usuario</b></th>
                        <th><b>Contraseña</b></th>
                        <th><b>Marca</b></th>
                        <th><b>Teléfono</b></th>
                        <!--th>Status</th-->
                    </tr>
                </thead>

                <tbody class="magia inputs">
                    <% if (data) { %>
                        <% for(var i=0; i < data.length; i++) { %>
                            <tr align="center">
                                <td>
                                    <%= data[i].Nombre %>
                                </td>
                                <td>
                                    <%= data[i].Nombre_s %>
                                </td>
                                <td>
                                    <%= data[i].Usuario %>
                                </td>
                                <td><input readonly name="Contraseña" value="<%= data[i].Contraseña %>" type="password">
                                </td>
                                <td>
                                    <%= data[i].Nombre_m %>
                                </td>
                                <td>
                                    <%= data[i].Telefono %>
                                </td>
                                <!--td>Status</td-->
                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>
        </div>
        <br>

        <script src="/js/back.js"></script>

</body>

</html>